.image-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    .big-image {
      flex: 1 1 10%;
      width: 30rem;
      margin: 2rem;
    }
  
    .small-images {
      flex: 1 1 40%;
      padding: 1rem;
      justify-content: space-between; /* Add this to evenly space the small images */
      flex-direction: column; /* Set flex direction to column to stack the small images */
      align-items: flex-start; /* Align items to center the images horizontally */
      align-self: flex-start;
    }
    .small-images.clicked{
      border: 1px solid black;
    }
  }