.image-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    .big-image {
      flex: 1 1 10%;
      width: 30rem;
      margin: 2rem;
    }
  
    .small-images {
      flex: 1 1 40%;
      padding: 1rem;
      justify-content: space-between; /* Add this to evenly space the small images */
      flex-direction: column; /* Set flex direction to column to stack the small images */
      align-items: flex-start; /* Align items to center the images horizontally */
      align-self: flex-start;
    }
    .small-images.clicked{
      border: 1px solid black;
    }
  }

  .ProductDescription{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;

    .ProductDe_header {
      align-content: flex-start;
      font-style: bold;
    }
    
    .productDe_price{
      padding-top: 1rem;
      font-weight: 900;
      color: goldenrod;
    }
  }