.SubcategoryTableImage {
    justify-content: center;
    width: 5rem;
    height: 5rem;
    object-fit: fill;
}

.SubcategoryListContainer {
    padding: 3rem;
}

.CenterAligned_th {
    text-align: center;
}

.UpdateSubcategoryFormImage {
    object-fit: fill;
    width: 25rem;
}

.UpdateSubcategoryFormImageFormGroup {
    padding: 1rem;
    text-align: center;
}