.CategoryTableImage {
    justify-content: center;
    width: 5rem;
    height: 5rem;
    object-fit: fill;
}

.CategoryListContainer {
    padding: 3rem;
}

.CenterAligned_th {
    text-align: center;
}