@import "~@styles/Main.scss";
#GridFormControl {
    width: 100%;
}

.GridItem {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    & button {
        text-align: right !important;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: $primary;

        &:hover {
            background-color: $primary;
            color: $textColor;
        }
    }
}

.checkoutForm {
    width: 45rem !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    height: 100%;
    margin: 0.5rem;
    padding: 1.5rem;
    margin-top: 2rem !important;
}

.checkoutShoppingCart {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 0.5rem;
    padding: 1.5rem;
    margin-top: 2rem !important;
}

.PaymentCardImage {
    object-fit: contain;
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
}

.PaymentCard {
    padding: 0.25rem 0.10rem 0.10rem 0rem;
    color: $textHoverColor;
    font-weight: 600;
}

.PaymentCard:hover {
    background-color: $textHoverColor;
    cursor: pointer;
    color: $textColor;
}

.CreditCardOption {
    //padding: 0.15rem 0.5rem 0.5rem 0rem;
    padding: 0.15rem;
}

.CreditCardOption:hover {
    background-color: $textHoverColor;
    cursor: pointer;
    color: $textColor;
}

.CreditCardOptionImage {
    object-fit: contain;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
}

.CreditCardOption.selected {
    border: $textHoverColor 1px solid;
    border-radius: 10%;
}

.PaymentCreditCardFormGroup {
    padding: 0.5rem;
}