.card {
    border: 'primary';
    height: 18rem;
    margin: 1rem 0.5rem;
  }

.card-body{
    align-self: center;
}
  
  .card-footer {
    background-color: #e9e8e8;
    border-bottom:1px solid #000000;
    border-top: 1px solid #000000;
  }
  
  .card img {
    height: 13.5rem;
    width: auto;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-20 {
    width: 20%;
    flex-basis: 20%;
  }