.card.category{
    border: 'primary';
    height: 18rem;
    margin: 1rem 0.5rem;
  }

  .card-body.category{
    align-self: center;
  }

  .card-footer.category{
    background-color: #e9e8e8;
    border-bottom:1px solid #000000;
    border-top: 1px solid #000000;
  }

  .card img {
    height: 13.5rem;
    width: auto;
  }

  .img-spec{
    height: 13.5rem;
    width: auto;
  }
  
  .img-fluid{
    max-width: 100%;
    height: auto;
  }
  
  .container-cat{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .col-20-cat {
    width: 20%;
    flex-basis: 20%;
  }