.BO_ProductsContainer {
    padding-top: 5rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .alignToEnd {
        justify-content: end;
    }

    .createButton {
        width: 20%;
    }

    .element {
        padding: 1rem;
    }
}