@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
@import "~@styles/Main.scss";

* {
    font-family: Open Sans;
}

.header {
    background: $primary;
}

.header-links {
    color: $textColor;
    padding-right: 10px;
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    font-size: 18;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $textHoverColor;
    }
}

.active {
    //font-size: 20px;
    color: $textHoverColor;
    text-decoration: line;

    &:hover {
        color: $textHoverColor;
    }
}

.nav-brand {
    color: $primary;
    font-size: 24;
    text-decoration: none;

    &:hover {
        color: $textHoverColor;
    }
}

.search-button{
    color: $textColor;
    padding-right: 10px;
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    font-size: 18;
    text-decoration: none;
    cursor: pointer;

    &:hover{
        background-color: $textHoverColor;
    }
}