@import "~@styles/Main.scss";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
// $primaryColor: rgba(255, 215, 0, 1);

* {
    font-family: Open Sans;
}


.footer {
    position: fixed;
    bottom: 0;
    background-color: $primary;
    text-align: center;
    justify-content: center;
    padding-top: 1rem;
}

/* Social icons */
.footer-icons {
    margin-top: 25px;
    transition: transform .7s ease-in-out;

    a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        border-radius: 2px;
        font-size: 20px;
        color: $textHoverColor;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
        transition: all 0.5s ease-in-out;

        &:hover {
            color: $textColor;
            transform: rotate(360deg);

        }
    }
}

.ContactInfo {
    color:#FFF;
}

.footerLinks {
    justify-content: center;
}

.FL_NavLink {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: #FFF !important;
}

.FL_NavLink:hover {
    color: $textHoverColor !important;
    text-decoration: underline;
}
